.alert-danger{
    width: 100%;
    padding: .7rem 0;
    color: rgb(65, 65, 65);
    background-color: rgb(255, 198, 198);
    font-size: .7em;
    border-radius: 4px;
    margin: 5px 0;
    p{
        padding: 0;
        padding-left: 1rem;
        margin: 0;
    }
}